.accordion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.accordion-item {
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-header {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-family: michroma, sans-serif;
}

.accordion-content {
    max-height: 0;
    overflow-y: auto;
    padding: 0 1rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    background: white;
    font-size: 0.95rem;
    font-family: lexend, sans-serif;
}

.accordion-item.open .accordion-content {
    padding: 1rem;
    max-height: 500px;
}

.accordion-item.open {
    border: 2px solid green;
}

.accordion.nested .accordion-header {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--accent1-color);
    border-radius: 10px 10px 0 0;
}

.accordion.nested .accordion-content {
    color: var(--secondary-color);
    border: 1px solid var(--accent1-color);
    border-radius: 0 0 10px 10px;
}

