/* Root color variables */
:root {
    --primary-color: #0c1446; /* Royal Blue */
    --secondary-color: #175873; /* Teal Green */
    --accent-color-1: #2b7c85; /* Teal */
    --accent-color-2: #9dbf9e; /* Green grey */
    --text-color: #333; /* Dark Grey */
    --background-color: #dff5f2; /* Minty green */
    --background-color-2: #e6f7f9; /* Light aqua */
}

/* Global defaults */
body {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Headings */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-family: 'Antonio', 'Lexend', sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0.75rem;
    font-family: 'Antonio', 'Lexend', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--accent-color-1);
    margin-bottom: 0.5rem;
    font-family: 'Lexend', sans-serif;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: 'Lexend', sans-serif;
}


a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}
strong {
    font-weight: bold;
}
