@import '..component_skeletons/card.css';
@import '../component_skeletons/buttons.css';

.hero {
    text-align: center;
    padding: 3rem 1rem;
    background: var(--background-color-2);
    border-bottom: 2px solid var(--accent-color-1);
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.past-challenges {
    padding: 3rem 5%;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

