:root {
  --primary-color: #2c3e50;     /* Dark Blue */
  --secondary-color: #3498db;   /* Bright Blue */
  --accent-color: #e74c3c;      /* Red */
  --text-color: #333;           /* Dark Grey */
  --background-color: #f5f5f5;  /* Light Grey */
}

/* Global text & font */
body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: "Nunito", sans-serif;
}
