h1 {
    font-size: 4.2rem;
    color: var(--primary-color);
}
h2 {
    font-size: 2.6rem;
    color: var(--secondary-color);
}
h3 {
    font-size: 1.6rem;
    color: var(--accent-color);
    font-family: lexend, sans-serif;
}
p {
    color: var(--text-color);
}
